# Application
PORT=
NODE_ENV=

# Database
DATABASE_URL=

# JWT Access Token
JWT_SECRET=
JWT_EXPIRES_IN=

# JWT Refresh Token
REFRESH_SECRET=
REFRESH_EXPIRES_IN=

# Throttle (Rate Limiting)
THROTTLE_TTL=
THROTTLE_LIMIT=
